/* Colors */
$primary-text-color: #757575;
$second-text-color: #212121;
$accent: #2196f3;
$address-color: rgba(255, 255, 255, 0.6);
$second-bcg-color: #2f303a;
$third-bcg-color: #f5f4fa;
$white: #ffffff;
$gradient: rgba(47, 48, 58, 0.4);
$icons: #afb1b8;
$backdrop: rgba(0, 0, 0, 0.2);

/* Others */
$indent: 30px;
$items: 3;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
